<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
{% if request.user.is_authenticated %}
<h1>Congratulations!! You are now logged In dear {{request.user.name}} </h1>
<div class="">
<button type="button" name="button"><a href="{% url 'users:logout' %}">Logout</a></button>
</div>
{% else %}
<h1>You Are Not logged in. Access Denied</h1>
<button type="button" name="button"><a href="{% url 'users:login' %}">Login</a></button>

{%endif%}
  </body>
</html>
