<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </ul>
{% endif %}
    <form class="" action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="signup" value="Login">
    </form>
  </body>
</html>
